#container{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
}

.hello{
    background-color: green;
}

#leftColumn{
    display: flex;
    flex-direction: column; 
    margin-right: 100px;
}

#rightColumn{
    display: flex;
    flex-direction: column; 
    margin-left: 100px;
}

#projectName{
    width: 260px;
    margin-top: 36px;
    background-color: #ededed;
} 

#projectOverView{
    width: 260px;
    margin-top: 3px;
    background-color: #ededed;
}

#dropdownCity{
    width: 260px;
    margin-top: 3px;
    text-align: left;
    background-color: #ededed;
}

#expectedDeliveryDate{
    width: 260px;
    margin-top: 3px;
    background-color: #ededed;
}

#neededResources{
    width: 260px;
    margin-top: 3px;
    background-color: #ededed;
}

#dropdownFinance{
    width: 260px;
    margin-top: 3px;
    text-align: left;
    background-color: #ededed;
}

#rfcNumber{
    width: 260px;
    margin-top: 36px;
    background-color: #ededed;
}

#businessEmail{
    width: 260px;
    background-color: #ededed;
}

#technicalEmail{
    width: 260px;
    background-color: #ededed;
} 

#businessMessage{
    font-weight: bold;
} 

#technicalMessage{
    font-weight: bold;
}

span [id=first_expectedDeliveryDate__saGNt] > input {
    background-color: #ededed;
    cursor: pointer;
}

.telescopeImg{
    position: absolute;
    width: 350px;
    right:10px;
    bottom:0px;
}
