#container{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
}

#leftColumn{
    display: flex;
    flex-direction: column; 
    margin-right: 100px;
}

#rightColumn{
    display: flex;
    flex-direction: column; 
    margin-left: 100px;
}

#projectEnvMessage{
     text-align: left;
    font-weight: bold;
}

#projectEnvDropdown{
    width: 260px;
    margin-top: 3px;
    text-align: left;
    background-color: #ededed;
}

#numberOfUsers{
    width: 260px;
    margin-top: 3px;
    background-color: #ededed;
}

#architectMessage{
    font-weight: bold;
}

#architectEmail{
    width: 260px;
    margin-top: 3px;
    background-color: #ededed;
}


#dbModelMessage{
    font-weight: bold;
}

#dbModelDropdown{
    width: 260px;
    margin-top: 3px;
    text-align: left !important;
    background-color: #ededed;
}

#projectRunTimeMessage{
    font-weight: bold;
    text-align: left;
}

#projectRuntimeDropdown{
    margin-top: 3px;
    text-align: left !important;
    background-color: #ededed;
}
