.step{
   background-color: #AAB5C5;
   width:100px;
   height:8px;
   border-radius:25px;
   position:relative;
   flex-direction: column;
   cursor:pointer;
}

.steps{
    display: flex;
    justify-content: space-between;
    width:500px;
    position: relative;
    left:36%;
}