#container {
    margin-top: 5%;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
}

#leftColumn {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px;
}

#rightColumn {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

#projectStatus {
  background-color: grey;
  size: 1000px;
  color: white;
  padding: 15px;
  text-transform: capitalize;
  font-weight: 600;
  font-size: x-large;
}

#emailButton {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: blue;
  padding: 0%;
  border: 0ch;
  margin: 0%;
}

.linkButton {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: blue;
  padding: 0%;
  border: 0ch;
  margin: 0%;
}

#linkListItem {
  list-style-type: none;
}

.linksList {
  padding: 0%;
  border: 0ch;
  margin: 0px;
  margin-top: 0px;
}
