.telescope {
    position: absolute;
    right: 0;
    bottom: 0;
}

.telescope-image {
    width: 300px;
}

.datatable-ctr{
    margin-top: -200px;
    margin-left: 200px;
    position: absolute;
    top: 50%;
}

.rdd-home{
    border-radius: 50%;
    position: absolute;
    left: 30px;
    top: 14px;
}

.p-datatable-tbody tr {
    background: #EDEDED !important;
  }
  .p-datatable-thead th {
    background: #EDEDED !important;
  }
  .p-paginator-bottom  {
    background: #EDEDED !important;
  }