body{
    background-color:#EDEDED;
}
.login{
    position:absolute;
    top:20%;
    left:30%;
    font-size:25px;
}

.inputs {
    width: 350px;
    margin-bottom: 30px;
    border:1px solid #A9A9A9;
    height:50px;
}

.login-button {
    width: 350px;
    border-radius: 0;
}

.login-form{
    width: fit-content;
    position: absolute;
    left: 25%;
}