body{
   background-color: #EDEDED;
}
.welcome-text{
    color:#83AAE5;
    font-size:45px;
    font-weight:500;
}

.buttons-box{
    position: absolute;
    right:15%;
    top:40%;
}

.welcome-buttons{
    margin-bottom:40px;
    width:400px;
    height:60px;
    background-color: #025ABF;
    font-size:25px;
}

.pi-plus, .pi-eye{
    position:absolute;
    right:10px;
    font-size:25px;
}

.captain-img{
    position:absolute;
    left:10%;
    top:25%;
}